li.nav-item {
    padding-left: 2%;
    padding-right: 2%;
}

.navbar {
    background-color: #7addee;
    margin-bottom: 1%;
    width: 100%;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;    
}
.nav-links a.active {
    border-bottom: 4px solid rgba(3, 22, 85, 0.849);
    color: rgba(3, 22, 85, 0.849);
}


.mybuttons {
    background-color: rgba(0, 68, 255, 0.514);
    border: 2px solid rgba(3, 22, 85, 0.849);
    color: rgba(3, 22, 85, 0.849);
}

page-body {
    margin-right: 5%;
    margin-left: 5%;
}


footer {
    margin-top: 30%;
    background-color: rgba(0, 68, 255, 0.192);
}



.mytitles {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    color: rgba(3, 22, 85, 0.849);
}
.myheader {
    margin-top: 5%;
    margin-bottom: 6%;
    margin-left: 3%;
    color: rgba(3, 22, 85, 0.849);
}



.mypara {
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}


@media screen and (max-width:1000px) {
    
}